.input-wrapper {
  display: flex;
  justify-content: center;
  gap: 1.2rem;

  & .input-content {
    display: flex;
    flex-direction: column;

    & label {
      font: var(--label-sm);
      color: var(--content-secondary);
      text-align: center;
    }
  }
}

.switch-container {
  margin-top: 2rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.switch {
  opacity: 0;
  position: absolute;
}

.switch + label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 1.4rem;
  font-family: var(--ff-rbt-flex);
  font-weight: var(--fw-regular);
}

.switch + label::before {
  content: "";
  width: 4rem;
  height: 2rem;
  background-color: var(--content-tertiary);
  border-radius: 1.5rem;
  transition: background-color 0.3s ease;
  margin-right: 0.8rem;
}

.switch + label::after {
  content: "";
  position: absolute;
  left: 2px;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.switch:checked + label::before {
  background: var(--gradient-bg);
}

.switch:checked + label::after {
  transform: translateX(20px);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  all: unset;
  display: flex;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  padding: 0.4rem 0.8rem;
  font: var(--display-sm);
  width: 85%;
  max-width: 91rem;
  background-color: var(--bg-secondary);
  border-radius: 0.8rem;
  color: var(--content-primary);
  text-align: center;
}

.gradient-border {
  position: relative;
  display: inline-flex;
  border-radius: 0.8rem;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--gradient-border);
  border-radius: inherit;
  padding: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.gradient-border:hover::before,
.gradient-border:focus-within::before {
  opacity: 1;
}
